@{
    List<Time> times = ViewBag.Times;
    ViewData["Title"] = "Times";
    Tabela tablename = new Tabela();
}

<div>
    <h2>Times</h2>
    <table class="table">
        
        @foreach (var t in times)
        {
        <tr>
            <td>@t.Nome</td>
            <td>@t.Jogador1</td>
            <td>@t.Jogador2</td>
            @if (t.TabelaID != -1 && t.TabelaID != 0)
            {
                
                <td>@tablename.PorID(t.TabelaID).Nome</td>
            }
        </tr>
        }

    </table>
</div>
