@{
    List<Time> times = ViewBag.Times;
    ViewData["Title"] = "Times";
}

<div>
    <h2>Times</h2>
    <div>
        <a href="/time/novo" class="btn">Novo Time</a>
    </div>
    <table class="table">
        
        @foreach (var t in times)
        {
            <tr>
                <td>@t.Nome</td>
                <td>@t.Jogador1</td>
                <td>@t.Jogador2</td>
            </tr>
        }

    </table>
</div>
